/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem ;

    /*========== Colores ==========*/
    /* Cambiar Color */
    --hue-color: 200; 

    /* MODO COLOR HSL */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt:hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    /*========== Tipografia ==========*/
    --body-font:  'Poppins', sans-serif;;


    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Tama単o de Fuentes ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes de Fondo ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Tam単o de fuentes para dispositivos grandes */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark tema ==========*/
body.dark-tema{
    
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
}

/*========== Boton Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.cambiar-tema{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.cambiar-tema:hover{
    color: var(--first-color);
}
/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

u1{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== Clases Reusables CSS ====================*/
.seccion{
    padding: 2rem 0 4rem;
}

.seccion__titulo{
    font-size: var(--h1-font-size);
}

.seccion__subtitulo{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.seccion__titulo,
.seccion__subtitulo{
    text-align: center;
}

/*==================== Dise単o ====================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/*==================== Barra de Navegacion ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color:var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__salir{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__salir:hover{
    color: var(--first-color);
}

/* MostrarMenu */
.show-menu{
    bottom: 0;
}

/* Active link */
.activar-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*==================== HOME ====================*/
.inicio__container{
    gap:1rem;
}

.inicio__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.inicio__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.inicio__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.inicio__social-icon:hover{
    color: var(--first-color-alt);
}

.inicio__blob{
    width: 200px;
    fill: var(--first-color);
}

.inicio__blob-img{
    width: 250px;
    
}

.inicio__datos{
    grid-column: 1/3;
}

.inicio__titulo{
    font-size: var(--big-font-size);
}
.nombreinicio{
    font-size: var(--big-font-size);
    color: var(--first-color);
}
.inicio__subtitulo{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.inicio__descripcion{
    margin-bottom: var(--mb-2);
}

.inicio__scroll{
    display: none;
}

.inicio__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.inicio__scroll-button:hover{
    transform: translateY(.25rem);
}

.inicio__scroll-mouse{
    font-size: 2rem;
}

.inicio__scroll-nombre{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.inicio__scroll-flecha{
    font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: 5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}
/*==================== SOBRE MI====================*/
.sobreMi__img{
    width: 200px;
    border-radius: .5rem;
    justify-content: center;
    align-self: center;
}

.sobreMi__descripcion{
    margin-bottom: var(--mb-2-5);
}

.sobreMi__button{
    display: flex;
    justify-content: center;
}


/* Active Modal */


/*==================== CONTACTO ====================*/
.contacto__container{
    row-gap: 3rem;
}

.contacto__informacion{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contacto__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contacto__titulo{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contacto__subtitulo{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contacto__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contacto__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}
.contacto__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/*==================== PIE DE PAGINA ====================*/
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__titulo{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitulo{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 30px;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__redes{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__redes:hover{
    color:var(--first-color-lighter)
}

.footer__redes{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
    margin-top: 30px;
}

.footer__social:hover{
    color: var(--first-color);
}

.footer__derechos{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__titulo,
.footer__subtitulo,
.footer__link,
.footer__redes{
    color: rgb(216, 215, 215);
}
/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .5rem;
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    color: #FFF;
}
/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/


/*==================== Medidas ====================*/
/* Dispositivos Peque単os */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .inicio__content{
        grid-template-columns: .25fr 3fr;
    }
    .inicio__blob{
        width: 180px;
    }


}

/* Dispositivos Medianos */
@media screen and (min-width: 568px){
    .inicio__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .inicio__datos{
        grid-column: initial;
    }
    .inicio__img{
        order: 1;
        justify-self: center;
    }
    .sobreMi__container,
    .contacto__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 768px) {
        .container{
            margin-left: auto;
            margin-right: auto;
        }
        body{
            margin: 0;
        }
        .seccion{
            padding: 6rem 0 2rem;
        }
        .seccion__subtitulo{
            margin-bottom: 4rem;
        }

        .header{
            top: 0;
            bottom: initial;
        }
        .header,
        .main,
        .footer__container{
            padding: 0 1rem;
        }
        .nav{
            height: calc(var(--header-height) + 7rem);
            column-gap: 1rem;
        }
        .nav__icon,
        .nav__salir,
        .nav__toggle{
            display: none;
        }
        .nav__list{
            display: flex;
            column-gap: 2rem;
        }
        .nav__menu{
            margin-left: auto;
        }
        .change-theme{
            margin: 0;
        }
        .inicio__container{
            row-gap: 5rem;
        }
        .inicio__content{
            padding-top: 5.5rem;
            column-gap: 2rem;
        }
        .inicio__blob{
            width: 270px;
        }
        .inicio__scroll{
            display: block;
        }
        .inicio__scroll-button{
            margin-left: 3rem;
        }
        .sobreMi__container{
            column-gap: 5rem;
        }
        .sobreMi__img{
            width: 350px;
        }
        .sobreMi__descripcion{
            text-align: initial;
        }
        .sobreMi__buttons{
            justify-content: initial;
        }
        .footer__container{
            grid-template-columns: repeat(3, 1fr);
        }
        .footer__bg{
            padding: 3rem 0 3.5rem;
        }
        .footer__links{
            flex-direction: row;
            column-gap: 2rem;
        }
        .footer__redes{
            justify-self: flex-end;
        }
        .footer__derechos{
            margin-top: 4.5rem;
        }
    }

/* Dispositivos grandes */
    @media screen and (min-width: 1024px) {
        .header,
        .main,
        .footer__container{
            padding: 0;
        }
        .inicio__blob{
            width: 320px;
        }
        .inicio__redes{
            transform: translateX(-6rem);
        }
        .contacto__form{
            width: 460px;
        }
        .contacto__input{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}   